.detail_box img {
  margin: 0 auto;
}

.detail_box .imgs {
  background: url(../assets/images/bg_icecream_corn_3.png) no-repeat;
  background-position: 50% 110%;
  background-size: 110px auto;
}

.detail_box .imgs .product_img {
  width: 350px;
  margin-top: -20px;
}

.option_box h2 {
  margin-top: 50px;
  text-align: center;
}

.option_box .option label.active {
  border: 3px solid violet;
}

.option_box .option label input {
  display: none;
}

.option_box .option1 .select label img {
  width: 40px;
}

.cart {
  text-align: right;
}