.cart_pro {
  margin-top: 20px;
}

.cart_pro .cart_tit {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.cart_pro .cart_tit li {
  width: 25%;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  border-right: 1px solid black;
}

.cart_pro .cart_product li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.cart_pro .cart_product li p {
  width: 20%;
  text-align: center;
}

.cart_pro .cart_product li p:last-child{
  border-right: 0;
}

.cart_pro .cart_product li img {
  width: 100px;
  margin: 0 auto;
}

.cart_pro .cart_product li .count_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.total{
  text-align: right;
}